.logoImg{
  max-width: 250px;
  margin: 0 auto;
}

.logoTitle{
  font-family: 'Pally-Bold';
  font-size: 50px !important;
  margin-bottom: 0px;
}

body {
  text-align: center;
  margin: 0;
}

.appHeader{
  top: 0;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  margin-bottom: 50px;
  padding: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);}

.appHeader .headerLogo{
  font-family: 'Pally';
  font-style: normal;
  font-weight: 700;
  margin: 0;
  flex: 1;
  cursor: pointer;
  transition: 0.3s all;
}

.appHeader .headerLogo:hover{
  opacity: 0.8;
}

.centralContainer{
  width: 90%;
  max-width: 540px;
  margin: 0 auto;
  margin-top: 150px;
}



h4{
  margin: 5px;
  font-weight: 400;
  font-family: 'Rubik-Medium';
  line-height: 30px;
}

p.instruction{
  margin-top: 20px !important;
}

.pitchDescription{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 127.02%;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

.greyText{
  color: rgba(18, 39, 51, 0.42);
  margin-bottom: 10px;
}

.green-btn{
  padding: 24px 38px;
  min-width: 260px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  background: #0CCCDD;
  box-shadow: 0px 4px 0px #00A9B8;
  border-radius: 8px;
  margin-top: 30px;
  margin: 0 auto;
  margin-top: 40px;
  transition: 0.3s all;
  font-family: 'Rubik-Medium';
  letter-spacing: 0.03em;

}

.green-btn:hover{
  background: #0cc1d2;
  box-shadow: 0px 4px 0px #0099a7;
}

.back-btn{
  padding: 15px 30px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  background: #e7eaea;
  box-shadow: 0px 4px 0px #d7dcdc;
  border-radius: 10px;
  display: inline;
  float: left;
  margin-right: auto;
}

.rightElements, .leftElements{
  flex: 1;
}

.hidden{
  display: none;
}


.senderName{
  color:rgb(122, 122, 122);
}

.speechBubble{
  background: #e7eaea;
  margin-bottom: 30px;
  width: fit-content;
  max-width: 80%;
  font-size: 18px;
}

.chatContainer{
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.chatBox{
  display: flex;
  flex-direction: column;
}

.chatLeft{
  align-items: baseline;
}

.chatRight{
  align-items: flex-end;
}

.senderName{
  width: auto;
}

.chatRight .speechBubble{
  text-align: right;
  background-color: #0CCCDD;
  color: #fff;
  border-radius: 20px 5px 20px 20px;
  padding: 24px 28px 24px 28px;
}

.chatLeft .speechBubble{
  background-color: #EDF5F5;
  color: #122733;
  border-radius: 5px 20px 20px 20px;
  padding: 24px 28px;
  text-align: left;;
}